@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
  /* font-family: "Segoe UI"; */
  font-family: "Poppins";

}

.alert {
  padding: 13px;
  border-radius: 5px;
  background-color: #efefef;
  color: #ee564b;
}

.closebtn {
  margin-left: 15px;
  margin-top: 5%;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 35px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: #ee564b;
}

.err_msg.active{
  position: absolute;
  width: 295px;
  display: block;
}

.err_msg.active.left{
  left: 5%;
}

.err_msg.active.center{
  left: 50%;
  transform: translateX(-50%);
}
.err_msg.active.right{
  right: 5%;
}

.err_msg.disable{
  display: none;
}

.support {
  position: absolute;
  bottom: 120px;
  /* left: 35px; */
}

.support.left{
  bottom: 120px;
  left: 35px;
}

.support.left .zervise-support {
  border-radius: 6px 42px 42px 42px;
}

.support.right{
  bottom: 120px;
  /* right: 35px; */
  margin-right: 100px;
  right: 140px;
}

.support.right .zervise-support {
  border-radius: 42px 6px 42px 42px;
}

.support.center{
  bottom: 120px;
  left: 44%;
  transform: translateX(-50%);
}

.support.center .zervise-support {
  border-radius: 42px 42px 42px 42px;
}

button.zervise-support {
  position: fixed;
  width: 200px;
  background: #0c89c1;
  border: none;
  border-radius: 6px 42px 42px 42px;
  padding: 12px 24px;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 0.6px;
  box-shadow: 0 0 12px 6px #003f5c3b;
  outline: none;
  z-index: 2147483647;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.zervise-support img {
  width: 25px;
  height: 25px;
  filter: brightness(0) invert(1);
}

.main {
  position: absolute;
  /* min-width: 300px;
  max-width: 300px; */
  width: 300px;
  /* width: 35%; */
  min-height: 536px;
  /* max-height: 536px; */
  background: #fff;
  border-radius: 6px;
  padding: 16px 26px 0 26px;
  font-size: 16px;
  box-shadow: 0 0 12px 6px #003f5c3b;
  z-index: 2147483647;
  overflow: hidden;
  display: block;
}

.main.left{
  bottom: 40px;
  left: 35px;
}

.main.right{
  bottom: 40px;
  right: 35px;
}

.main.center{
  bottom: 40px;
  left: 37%;
}
.main.disable {
  display: none;
}

.zervise-container{
  width: 100%;
}

.first {
  width: 100%;
  height: 100%;
  display: none;
  border-radius: 5px;
}

.first.active {
  display: block;
}

.middle {
  width: 100%;
  height: 100%;
  display: none;
  border-radius: 5px;
}

.middle.active {
  display: block;
}

form.zervise-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

.zervise-form input[type="text"] {
  outline: none;
  /* width: 88%; */
  border-radius: 6px;
  border: 1px solid #9b9b9b;
  padding: 8px 16px;
  margin-bottom: 20px;
  transition: all 0.2s ease;
}

.zervise-form textarea {
  outline: none;
  resize: none;
  /* width: 88%; */
  height: 155px;
  border-radius: 6px;
  border: 1px solid #9b9b9b;
  padding: 8px 16px;
  margin-bottom: 20px;
  transition: all 0.2s ease;
}

.file-upload {
  background: #f0f0f0;
  border: 1px solid #9b9b9b;
  /* width: 88%; */
  padding: 8px 16px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.file-upload input[type="file"] {
  outline: none;
  font-size: 14px;
  cursor: pointer;
}

.submit-ticket {
  position: relative;
  outline: none;
  border: 2px solid #0c89c1;
  background: #0c89c1;
  padding: 7px 26px;
  border-radius: 6px;
  width: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submit-ticket:active{
  transform: translateY(-10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.submit-ticket:hover {
  background-color: transparent;
  color: #0c89c1;
}

.submit-ticket:hover .visit-text {
  color: #0c89c1;
  transform: translateX(-10%);
}

.submit-ticket:hover img {
  visibility: hidden;
}

.visit-site {
  position: relative;
  outline: none;
  border: 2px solid rgba(9, 121, 121, 0.993);
  background-color: rgba(9, 121, 121, 0.993);
  padding: 7px 26px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

.visit-site:hover {
  background-color: transparent;
}

.visit-site:hover .visit-text {
  color: rgba(9, 121, 121, 0.993);
}

.visit-logo {
  width: 15px;
  height: 15px;
}

.visit-text {
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;
}
.success-container{
  width: 100%;
  height: 100%;
}
.success-msg {
  background: rgba(7, 113, 119, 0.9);
  border-radius: 42px;
  padding: 6px 18px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.6px;
  z-index: 214748364715545454;
  box-shadow: 0 0 12px 6px #003f5c3b;
  outline: none;
  transition: all 0.2s ease;
  overflow: visible;
}

.success-msg.active {
  display: block;
}


.success-msg.disable{
  display: none;
}

.third {
  width: 100%;
  height: 100%;
  display: none;
  border-radius: 5px;
}

.third.active {
  display: block;
}

.faq-cnt,
.ticket-cnt {
  margin-top: 10px;
  min-height: 345px;
  max-height: 345px;
  /* width: 99%; */
  display: flex;
  flex-direction: column;
  gap: 14px;
  /* overflow-y: scroll; */
}

.faq-cnt {
  gap: 8px;
  overflow-y: scroll;
}

.faq-empty,
.ticket-empty{
  margin-top: 10px;
  min-height: 345px;
  max-height: 345px;
  /* width: 99%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.faq-empty img,
.ticket-empty img{
  width: 50px;
}
.ticket-empty{
  min-height: 384px;
  max-height: 384px;
}

.ticket-cnt{
  margin-bottom: -2px;
}

.ticket-item {
  /* width: 87%; */
  height: auto;
  padding: 9px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 2px;
  cursor: pointer;
  margin-bottom: 5px;
}

.faq-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 87%; */
  /* height: 30px; */
  height: auto;
  padding: 9px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 2px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.faq-items.expand {
  height: 70px;
  line-height: 25px;
}

.faq-items .faq-dscr {
  display: none;
}

.faq-items.expand .faq-dscr {
  font-size: 20px;
  padding: 10px;
  display: block;
}

.faq-items.expand .faq-heading,
.faq-items.expand .plus-icon {
  display: none;
}
.plus-icon {
  position: relative;
  width: 15px;
  height: 15px;
  top: 80%;
  transform: translateY(-50%);
}

.ticket-top,
.ticket-bottom {
  display: flex;
}

.ticket-bottom {
  flex-direction: column;
  align-items: flex-start;
}

.ticket-number {
  all: unset;
  color: #474747;
  border: 1px solid #474747;
  font-size: 13px;
  border-radius: 4px;
  padding: 0 8px;
}

.ticket-status {
  all: unset;
  color: #ffab00;
  border: 1px solid #ffab00;
  font-size: 13px;
  border-radius: 4px;
  padding: 0 8px;
  margin-left: 12px;
}

.ticket-dscr {
  font-weight: 500;
  margin: 10px 0 2px 0;
}

.ticket-date {
  color: #474747;
  font-size: 13px;
}

.date-dtl {
  margin-top: 6px;
  font-size: 12px;
  font-weight: normal;
}

.content-title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.top-title {
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.title-left {
  display: flex;
  align-items: center;
}

.icon-question {
  width: 25px;
  height: 25px;
}
.ticket-icon-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 27px;
}

.refresh-cross-icon {
  width: 46%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button.refresh {
  color: white;
  border: none;
  background-color: #1a7277;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 23px;
  cursor: pointer;
}

.sync-icon {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.sync-icon.loading {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.btn-plus {
  cursor: pointer;
}

img.raise-ticket-icon {
  width: 25px;
  height: 25px;
  margin-top: 5px;
}

.btn-X {
  cursor: pointer;
}
img.cross-sign {
  width: 27px;
  height: 27px;
  margin-top: 5px;
  margin-right: -2px;
}

.or {
  text-align: center;
  margin: 5px 0 5px 0;
}

.bottom-nav {
  margin-top: 10px;
  width: 100%;
  margin: 24px 0 20px 0;
  display: flex;
  justify-content: space-around;
}

.bottom-nav-item {
  all: unset;
  cursor: pointer;
  color: #808080;
  font-size: 14px;
  padding: 1.5px 14px 2px 14px;
}

.bottom-nav-item.active {
  border-bottom: 2px solid #202020;
  font-weight: bold;
  color: #202020;
  font-size: 16px;
}

.powered-by {
  position: relative;
  bottom: 20px;
  font-size: 13px;
  margin: 30px 0 10px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: relative;
}
.overlay-div {
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 90%;
  height: 30px;
  padding: 0 24px;
  background-color: #fff;
  border-radius: 6px 6px 0 0;
  border: 1px solid #ccc;
  border-bottom: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.overlay-div::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 6px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.15);
}

.overlay-div.expand {
  height: 450px;
  padding: 21px 21px;
}

.overlay-div.expand.overlay-div::before {
  /* display: none; */
}

.overlay-div-icon {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 20px;
  width: 20px;
  height: 20px;
  visibility: hidden;
}
.overlay-div.expand .overlay-div-icon {
  visibility: visible;
  margin-top: 5px;
  margin-right: -0.1px;
}
.overlay-div.expand .faq-div-down{
  margin-top: 22px;
}

.ticket-top-overlay {
  display: flex;
}

.ticket-number-overlay {
  all: unset;
  color: #474747;
  border: 1px solid #474747;
  font-size: 13px;
  border-radius: 4px;
  padding: 0 8px;
  /* display: none; */
  visibility: hidden;
}

.ticket-status-overlay {
  all: unset;
  color: #ffab00;
  border: 1px solid #ffab00;
  font-size: 13px;
  border-radius: 4px;
  padding: 0 8px;
  margin-left: 12px;
  visibility: hidden;
  /* display: none  */
}

.overlay-div.expand .ticket-number-overlay {
  /* display: block; */
  visibility: visible;
}

.overlay-div.expand .ticket-status-overlay {
  visibility: visible;
}

.ticket-bottom-overlay {
  flex-direction: column;
}

.ticket-dscr-overlay {
  font-weight: 500;
  margin: 10px 0 2px 0;
}

.ticket-date-overlay {
  color: #474747;
  font-size: 13px;
}

.date-dtl-overlay {
  margin-top: 6px;
  font-size: 12px;
  font-weight: normal;
}

.ticketData-overlay {
  display: block;
}
.ticketData-overlay.disable {
  display: none;
}

.faqData-overlay {
  display: block;
}
.faqData-overlay.disable {
  display: none;
}

.faqData-overlay .faq-dscr-scrollable {
  margin-top: 10px;
  min-height: 380px;
  max-height: 380px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  overflow-y: auto;  /* updated scroll -- auto */
}

.faqData-overlay .faq-dscr {
  padding: 0 5px;
  margin-top: -8px;
  text-align: justify;
  padding-right: 7px;
  line-height: 35px;
  font-size: 16px;
}

.chat-cnt {
  margin-top: 14px;
  min-height: 230px;
  max-height: 230px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  overflow-y: scroll;
}

.chat-form textarea {
  outline: none;
  resize: none;
  width: 88%;
  border-radius: 6px;
  border: 1px solid #9b9b9b;
  padding: 8px 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.2s ease;
}

.chat-submit {
  display: flex;
  justify-content: space-between;
}

.chat-file-upload {
  background: #f0f0f0;
  border: 1px solid #9b9b9b;
  width: 65%;
  padding: 8px 16px;
  margin-bottom: 20px;
  border-radius: 6px;
  cursor: pointer;
}

.chat-btn {
  position: relative;
  outline: none;
  /* border: 2px solid rgba(9, 121, 121, 0.993); */
  border: 2px solid #0c89c1;
  background: #0c89c1;
  width: 17%;
  height: 17%;
  padding: 17px 17px;
  border-radius: 5px;
  /* background-color: rgba(9, 121, 121, 0.993); */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.chat-btn:hover{
  /* background-color: transparent; */
  /* z-index: -1; */
}


.chat-btn:active{
  transform: translateY(-10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.chat-btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  z-index: 15;
}

/* .chat-btn:hover img {
  filter: grayscale(60%);
} */

.chat-cnt .message-user{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 12px;
  gap: 8px;
}

.chat-cnt .message-admin{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 12px;
  gap: 8px;
}

.message-user .body,
.message-admin .body{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.message-admin .body{
  /* width: 170;
  display: flex;
  align-items: flex-start; */
  justify-content: flex-start;
}

.body .message{
  font-size: 14px;
  padding: 4px 9px 8px 9px;
  border-radius: 12px 0 12px 12px;
  /* background-color: #8831df; */
  /* background-color: #f1f1f1; */
  /* background-color: #DBF6C6; */
  /* background-color: #75bebf; */
  /* background-color: #306c70; */
  background-color: #afdddf;
  /* width: max-content;
  max-width: 226px; */
  text-align: left;
  word-break: break-all;
  
  /* color: #fff; */
  color: #202020;

  /* border-radius: 0 12px 12px 12px; */
}

.ac-badge {
  min-width: 18px;
  padding: 4px 10px;
  text-align: center;
  
  /* background-color: #fce6b9; */
}

.ac-badge-user {
  /* background-color: #afdddf; */
  background-color: #efefef;
  border-radius: 0 10px 10px 10px;
  margin-left: 10px;
}

.ac-badge-admin {
  background-color: #efefef;
  /* background-color: #fce6b9; */
  border-radius: 10px 0 10px 10px;
  margin-right: 10px;
}

.top-title-message{
  display: flex;
  align-items: center;
} 


.message-admin .message{
  border-radius: 0 12px 12px 12px;
  color: #202020;
  /* background-color: #5a6870; */
  background-color: #fce6b9;
  /* color: #fff; */
  /* background-color: #f1f1f1; */
  /* background-color: rgba(197, 81, 213, 0.994); */
}

.msg-attachments{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 180px;
  gap: 10px;
}

.msg-attachments.admin{
  align-items: flex-start;
}

.msg-attachments img{
  width: 24px;
  display: block;
  height: 30px;
  cursor: pointer;
}

.chat_attachment{
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  justify-content: flex-end;
  background: #EFEFEF;
  flex-direction: row;
  border-radius: 10px 0 10px 10px;
}

.chat_attachment.admin{
  justify-content: flex-start;
  border-radius: 0 10px 10px 10px;
}

.chat_attachment .attachment_name{
  font-size: 13px;
  margin-right: 1px;
  text-align: right;
  border-bottom: 1px solid rgb(167, 162, 162);
}

button.chat_btn{
  border: none;
  margin-left: 2px;
  margin-right: 2px;
}